body{
   margin: 0;
   font-family: 'Muli', sans-serif;
   background-color: #ab88ff;

}
.footer{
   background-color: #ab88ff;
   display: flex;
   align-items: center;
   height: 40px;
   width: 100%;
}
.footer a{
   color: white;
   cursor: pointer;
   font-size: 14px;
   padding-left: 30px;
   text-decoration: none;
}
.footer a:hover{
   text-decoration: underline;
}